div.footer
	div.container
		ul
			li
				a(href="#", target="_blank") Contact
			li
				a(href="#", target="_blank") Download
			li
				a(href="#", target="_blank") Press
			li
				a(href="#", target="_blank") Email
			li
				a(href="#", target="_blank") Support
			li
				a(href="#", target="_blank") Privacy Policy