div.screen.__address
	div.container
		div.row
			div.col-md-6.col-sm-12
				h2 Get Notified Of Any Updates!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
				div.description
					form#callback-form
						input.form-control(type="Email", name="name", placeholder="Email Address", required="required")
						button.btn.btn-default Notify
			div.col-md-6.col-sm-12
				div.vimeo
					<iframe src="https://player.vimeo.com/video/171768408" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>