div.screen.__reviews
	div.container
		div.row
			div.col-sm-12
				p “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu  
					br 
					| commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”
				h3 Jane Hunt
				div.flexslider.carusel
					ul.slides
						li
							a(href="#")
								img(src="images/flexslider/1.jpg")
						li
							a(href="#")
								img(src="images/flexslider/2.jpg")
						li
							a(href="#")
								img(src="images/flexslider/3.jpg")
						li
							a(href="#")
								img(src="images/flexslider/4.jpg")
						li
							a(href="#")
								img(src="images/flexslider/5.jpg")
						li
							a(href="#")
								img(src="images/flexslider/6.jpg")
						li
							a(href="#")
								img(src="images/flexslider/7.jpg")
						li
							a(href="#")
								img(src="images/flexslider/8.jpg")
						li
							a(href="#")
								img(src="images/flexslider/9.jpg")
						li
							a(href="#")
								img(src="images/flexslider/10.jpg")
						li
							a(href="#")
								img(src="images/flexslider/11.jpg")
						li
							a(href="#")
								img(src="images/flexslider/12.jpg")
						li
							a(href="#")
								img(src="images/flexslider/13.jpg")
						li
							a(href="#")
								img(src="images/flexslider/14.jpg")
						li
							a(href="#")
								img(src="images/flexslider/15.jpg")
						li
							a(href="#")
								img(src="images/flexslider/16.jpg")
						li
							a(href="#")
								img(src="images/flexslider/17.jpg")
						li
							a(href="#")
								img(src="images/flexslider/18.jpg")
						li
							a(href="#")
								img(src="images/flexslider/19.jpg")
						li
							a(href="#")
								img(src="images/flexslider/20.jpg")