div.screen.__contacts
	div.container
		h2 Say Hi & Get in Touch
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.social
			a(href="#", target="_blank" class="icon twitter")
			a(href="#", target="_blank" class="icon facebook")
			a(href="#", target="_blank" class="icon pinterest")
			a(href="#", target="_blank" class="icon google")
			a(href="#", target="_blank" class="icon linkedin")
			a(href="#", target="_blank" class="icon youtube")
