div.screen.__cover
	div.container
		div.col-md-6.col-sm-12.col-sx-12
			div.company
				h1(data-end=".") Notify
				p.company A great new free psd theme to showcase 
					br 
					|   your new application.
				div.os.clearfix
					a(href="#", target="_blank" class="icon apple")
					a(href="#", target="_blank" class="icon android")
					a(href="#", target="_blank" class="icon windows")
		div.hand