div.screen.__services
	div.container
		div.row
			div.col-md-4.col-sm-6
				div.content
					div.icon.edit
					h2 Editable Theme
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
			div.col-md-4.col-sm-6
				div.content
					div.icon.flat
					h2 Flat Design
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
			div.col-md-4.col-sm-12
				div.content
					div.icon.web
					h2 Reach Your Audience
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.