doctype
html(lang="ru")

	head

		include includes/general/head
		include includes/general/favicon
		title Notify. - A great new free psd theme to showcase your new application. 

	body#top
		
		//- include includes/header
		include includes/screen__cover
		include includes/screen__services
		include includes/screen__address
		include includes/screen__reviews
		include includes/screen__contacts
		include includes/footer

		include includes/general/scripts